{
	/* minify files */
	"minify": true,
	"module": {
		"type": "commonjs"
	},
	"exclude": ["./tests/*", ".*\\.spec.*$", ".*\\.test.*$", ".*\\.d.ts"],
	"jsc": {
		"externalHelpers": false,
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"decoratorsBeforeExport": true
		},
		"target": "esnext",
		"paths": {},
		"baseUrl": "./",
		"transform": {
			"legacyDecorator": true,
			"decoratorMetadata": true
		},
		/* minify files and rename properties */
		"minify": {
			"compress": {
				"unused": true
			},
			"mangle": true
		}
	}
}
